<extend name="base"/>

<block name="title">关于我们 - <{$sitename}> - 支付技术服务商，让支付简单、专业、快捷！</block>

<body>

<block name="content">

<div class="banner">
    <div class="wrapper">
        <h2 class="wow fadeInUp">关于我们</h2>
        <p class="wow fadeInUp" data-wow-delay='.5s'>-ABOUT US-</p>
    </div>
</div>
<div class="contact">
    <div class="wrapper">
        <div class="contact-hd g-hd" id="about2">
            <h2 class="wow fadeInUp">联系我们</h2>
            <p class="wow fadeInUp" data-wow-delay='.4s'>-contactus-</p>
        </div>
        <div class="contact-bd">
            <div class="wow fadeInLeft txt">
                <h2 class="line-27"><{$sitename}></h2>
                <ul>
                    <li>
                        <span><i class="iconfont icon-qq"></i>企业QQ ：</span>
                      <{$qq}>
                    </li>
                    <li>
                        <span><i class="iconfont icon-qq"></i>客服QQ ：</span>
                     <{$qq}>
                    </li>
                    <li>
                        <span><i class="iconfont icon-msnui-telephone"></i>咨询热线： </span>
                        <{$tel}>
                    </li>
                    <li>
                        <span><i class="iconfont icon-htmal5icon05"></i>联系邮箱：</span>
                        <{$email}>
                    </li>
                    <li>
                        <span><i class="iconfont icon-dizhi"></i>公司地址：</span>
                        <{$address}>
                    </li>
                </ul>
            </div>
            <div class="wow fadeInRight img">
                <!--<img src="<{$style}>picture/img_26.jpg"/>-->
            </div>
        </div>
    </div>
</div>
</block>
