</div>
<js href="__PUBLIC__/Front/js/jquery.min.js" />
<js href="__PUBLIC__/Front/js/bootstrap.min.js"/>
<js href="__PUBLIC__/Front/js/plugins/peity/jquery.peity.min.js"/>
<js href="__PUBLIC__/Front/js/content.js"/>
<js href="__PUBLIC__/Front/js/plugins/layui/layui.js" />
<js href="__PUBLIC__/Front/js/x-layui.js" />

<script>

    /// 弹出一个页面
    function open_dialog(title,url,w,h){
        if (title == null || title == '') {
            title=false;
        };
        if (url == null || url == '') {
            url="404.html";
        };
        if (w == null || w == '') {
            w=800;
        };
        if (h == null || h == '') {
            h=($(window).height() - 50);
        };
        parent.layer.open({
            type: 2,
            area: [w+'px', h +'px'],
            fix: false, //不固定
            maxmin: true,
            shadeClose: true,
            shade:0.4,
            title: title,
            content: url
        });
    }
</script>
